.audio-transport {
    font-size: 12px;
    display: table-cell;
    vertical-align: top;
    background-color: #000000;
    color: transparent;
    text-shadow: 0 0 0 #FFFFFF;
    box-shadow: none;
    border: none;
}
