// global variables useable throughout the other scss
// files, and some top-level style definitions

$global-max-width: 1200px;
$global-bg-color: #FFFFFF;
$global-text-color: #000000;
$global-delim-color: #000000;
$global-font-family: Helvetica, Arial, sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;

body {
    max-width: $global-max-width;
    margin: auto;
}

a {
  color: $global-text-color;
  text-decoration: none;

  &:visited {
    //color: darken($brand-color, 15%);
  }

  &:hover {
    //color: $text-color;
    text-decoration: underline;
  }
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}
h4 {
    font-size: medium;
    font-style: oblique;
}
h5 {
    font-size: small;
}
h6 {
    font-size: small;
    font-style: oblique;
}

