.page-content {
    max-width: $global-max-width;
    padding-right: 10px;
    padding-left: 10px;
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-weight: $global-font-weight;

    position: relative;

    header {
	padding-left: $global-title-indent;
    }
}
