<footer class="site-footer">

  <div class="wrapper">
    <span class="links">
      <span class="wrapper">
	<span class="footer-link">
	  <a href="">Data Privacy</a>
	</span>
	<span class="footer-link">
	  <a href="">Contact</a>
	</span>
      </span>
    </span>
    <span class="affiliation-logos">
      <span class="wrapper">
	<span class="affiliation-logo">
	  <a href="https://music.neu.edu">
	    <img src="/MUTOR/assets/images/nu_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://berkeley.edu">
	    <img src="/MUTOR/assets/images/ucb_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://cnmat.berkeley.edu">
	    <img src="/MUTOR/assets/images/cnmat_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://www.hoou.de/institutions/hochschule-fur-musik-und-theater">
	    <img src="/MUTOR/assets/images/hoou_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://www.hfmt-hamburg.de/start/">
	    <img src="/MUTOR/assets/images/hfmt_logo_black.png" alt="{{ site.title | escape }}" height=52px>
	  </a>
	</span>
      </span>
    </span>

  </div>
</footer>
