{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

{%- for path in page_paths -%}
{%- assign my_page = site.pages | where: "path", path | first -%}
{%- if my_page.title == "About" -%}
{%- assign about_page = my_page -%}
{%- elsif my_page.title == "References" -%}
{%- assign refs_page = my_page -%}
{%- elsif my_page.title == "Discussion Questions" -%}
{%- assign disq_page = my_page -%}
{%- endif -%}
{%- endfor -%}

<header class="site-header" role="banner">
  <div class="wrapper">
    <span class="mutor-logo"> 
      <a href ="{{ "/" | relative_url }}"><img src="/MUTOR/assets/images/mutor_logo_f1.png" alt="{{ site.title | escape }}" width="260px" height="98px"></a>
    </span>

    <span class="affiliation-logos">
      <span class="wrapper">
	<span class="affiliation-logo">
	  <a href="https://www.hfmt-hamburg.de/start/">
	    <img src="/MUTOR/assets/images/hfmt_logo_black.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://www.hoou.de/institutions/hochschule-fur-musik-und-theater">
	    <img src="/MUTOR/assets/images/hoou_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://music.neu.edu">
	    <img src="/MUTOR/assets/images/nu_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://berkeley.edu">
	    <img src="/MUTOR/assets/images/ucb_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
	<span class="affiliation-logo">
	  <a href="https://cnmat.berkeley.edu">
	    <img src="/MUTOR/assets/images/cnmat_logo.png" alt="{{ site.title | escape }}" height=48px>
	  </a>
	</span>
      </span>
    </span>

    <nav class="site-nav">
      <ul class="top-level-menu">
	<li>
	  <div class="burger-menu"></div>
	  <div class="burger-menu"></div>
	  <div class="burger-menu"></div>
	  <ul class="second-level-menu">
	    <li><a class="page-link" href="{{ refs_page.url }}">{{ refs_page.title }}</a></li>
	    <li><a class="page-link" href="{{ disq_page.url }}">{{ disq_page.title }}</a></li>
	    <li><a class="page-link" href="{{ about_page.url }}">{{ about_page.title }}</a></li>
	    <li>
	      <a href="#">Units</a>
	      <ul class="third-level-menu">
		{% for u in site.units %}
		<li><a href="{{ site.baseurl }}{{ u.url }}">Unit {{ u.number }}: {{ u.title }}</a></li>
		{% if forloop.last == false %}
		{% endif %}
		{% endfor %}
	      </ul>
	    </li>
	  </ul>
	</li>
      </ul>
      
    </nav>
  </div>

</header>
