---
layout: default
---
<article class="unit">

  <header class="unit-header">
    <h1 class="unit-title">Unit {{ page.number }}: {{ page.title | escape }}</h1>
    <dl>
      <dt>Authors</dt>
      <dl>{{ page.authors }}</dl>
      <dt>Summary</dt>
      <dl>{{ page.summary }}</dl>
      <dt>Topics</dt>
      <dl>
	{% for t in page.topics %}
	  {{ t }}
	  {%- if forloop.last != true -%}
	    ,
	  {% endif %}
	{% endfor %}
      </dl>
    </dl>
  </header>
  
  <div class="unit-content">
    {{ content }}
  </div>

</article>
